<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle | titlecase }}</ion-title>
    <ion-thumbnail slot="end" >
      <img class="logo-header" src="../../../assets/img/logo.png" alt="">
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar animated="true" placeholder="Buscar..." (ionChange)="buscar($event)"></ion-searchbar>
  <ion-list lines="full" *ngIf="listaVehiculos">
    <ion-item *ngFor="let vehiculo of listaVehiculos | filtroVehiculos: busqueda">
      <ion-avatar slot="start">
        <img [src]="vehiculo.imagen" alt="{{vehiculo.name}}">
      </ion-avatar>
      <ion-label>
        <h2>{{vehiculos.name}}</h2>
        <h3>{{vehiculos.marca | titlecase}}</h3>
      </ion-label>
      <ion-icon class="ff" name="arrow-forward" (click)="goToDetail(vehiculo)"></ion-icon>
    </ion-item>    
  </ion-list>
</ion-content>
