<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="personaje.image" alt="{{personaje.name}}">
    <ion-card-header>
      <ion-card-subtitle>{{personaje.homeworld | titlecase }}</ion-card-subtitle>
      <ion-card-title>{{personaje.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="tertiary">
        <p>Más información <i><a href="{{personaje.wiki}}" target="_self">aquí</a></i></p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
